**/settings/Mainnet.toml
**/settings/Testnet.toml
.cache/**
history.txt

# Next.js Build & Cache (The source of your current status mess)
.next/
**/.next/
out/
build/

logs
*.log
npm-debug.log*
coverage
*.info
costs-reports.json
node_modules
trials.md
Helper.md
deployments/FUNDX-GUIDE.md
Another.md